.toast {
  position: relative;
  height: 0;
  opacity: 0;
}

.toast--visible {
  animation: 0.5s toast-appears ease-in-out;
  height: 10px;
  opacity: 1;
}

.toast--closing {
  animation: 0.5s toast-disappears ease-in-out;
  height: 0;
  opacity: 0;
}

@keyframes toast-appears {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    height: 10px;
    transform: translateY(0px);
  }
}

@keyframes toast-disappears {
  0% {
    opacity: 1;
    height: 10px;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
  }
}

.toast__content {
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(250px, calc(80vw - 20px), 400px);
  height: auto;
  overflow: hidden;

  padding: 5px 5px 5px 10px;
  border: solid 1px var(--clr-primary-600);
  border-radius: 5px;
  background-color: var(--clr-primary-700);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template-rows: 31px 49px;
  transition-duration: 0.3s;
}

.toast__content--expanded {
  grid-template-rows: 31px 97px;
}

.toast__header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.5rem;
}

.toast__title {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.toast__more,
.toast__close,
.toast__expander {
  font-size: 0.7rem;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1.4;
  border-radius: 0.7rem;
  background-color: var(--clr-accent-600);
  border: none;
  color: var(--clr-accent-100);
  cursor: pointer;
}

.toast__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.toast__progress {
  position: absolute;
  height: 2px;
  background-color: var(--clr-accent-300);
}

.toast--active .toast__progress {
  animation-name: progress;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.toast__summary {
  position: relative;
  padding-right: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
}

.toast__summary p {
  margin: 0;
}

.toast__content--expanded .toast__summary {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.toast__expander {
  position: absolute;
  bottom: 0;
  right: 0;
}
