@layer reset, global, components, utils;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer global {
  :root {
    --clr-primary-900: hsl(216, 100%, 4%);
    --clr-primary-800: hsl(216, 100%, 12%);
    --clr-primary-700: hsl(216, 100%, 18%);
    --clr-primary-600: hsl(211, 100%, 26%);
    --clr-primary-500: hsl(211, 100%, 32%);
    --clr-primary-400: hsl(211, 100%, 45%);
    --clr-primary-300: hsl(209, 100%, 65%);
    --clr-primary-200: hsl(209, 100%, 85%);
    --clr-primary-100: hsl(209, 100%, 92%);

    --clr-accent-600: hsl(15, 78%, 22%);
    --clr-accent-500: hsl(29, 100%, 32%);
    --clr-accent-400: hsl(37, 98%, 45%);
    --clr-accent-300: hsl(46, 100%, 50%);
    --clr-accent-200: hsl(50, 100%, 52%);
    --clr-accent-100: hsl(50, 100%, 80%);
  }

  html {
    font-family: 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: var(--clr-primary-200);
    background-color: var(--clr-primary-800);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 320px;
    min-height: 100vh;
  }

  .header {
    background-color: var(--clr-primary-900);
  }

  .content {
    padding: 10px 0 30px;
  }

  .footer {
    line-height: 2;
    text-align: right;
    background-color: var(--clr-primary-900);
  }

  .frame-grid {
    display: grid;

    --padding-inline: 2rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    grid-template-columns:
      [fullwidth-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start]
      min(100% - (var(--padding-inline) * 2), var(--content-max-width))
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [fullwidth-end];
  }

  .frame-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }

  .frame-grid > .breakout {
    grid-column: breakout;
  }

  .frame-grid > .full-width {
    grid-column: fullwidth;

    display: grid;
    grid-template-columns: inherit;
  }

  img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
  }

  a {
    font-weight: 500;
    color: var(--clr-accent-200);
    text-decoration: inherit;
  }

  a:hover {
    color: var(--clr-accent-100);
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.1;
    color: var(--clr-primary-300);
  }

  h1 {
    font-size: 3.2rem;
  }

  h1 > a {
    color: var(--clr-primary-100);
  }

  h1 > a:hover {
    color: var(--clr-primary-200);
  }

  h2 {
    font-size: 2.3rem;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 1.5rem 0 0.5rem;
  }

  h4 {
    font-size: 1.3rem;
    margin: 1.3rem 0 0.5rem;
  }

  p {
    margin: 1rem 0 0.3rem;
  }
}
